body {
    margin: 10px;
}

#titolo {
    background-color: rgb(22, 86, 1); /* verde scuro */
    text-align: left;
    color: white;
}

#navbar {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    white-space: nowrap; /* evita che il testo vada a capo */
    width: 150px;
    background-color: white;
    text-align: left;
    padding: 10px;
    border: 2px solid black;
}

#contenuto {
    float: left;
    margin-left: 10px;
    background-color: rgb(255, 255, 255); /* bianco */
}

#footer {
    clear: both; /* assicura che il footer sia sotto gli elementi flottanti */
    background-color: rgb(22, 86, 1);
    text-align: center;
    color: white;
    padding: 10px;
}